.sectionOne {
    width: 100%;
    margin-bottom: 24px;
}

.productDisplay {
    width: 100%;
    position: relative;
}

.productRank {
    position: absolute;
    top: 5px;
    left: 8px;
    height: 78px;
    width: 78px;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 37px;
    font-weight: 600;
    background: linear-gradient(0deg, rgba(255,149,1,1) 0%, rgba(251,224,49,1) 100%);
}

.imgContainer img {
    width: 100%;
}

.textContent {
    padding: 8px 0 16px 0;
}

.descriptionTop {
    width: 100%;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.productTitle {
    width: 100%;    
    max-width: 60%;
    text-align: left;
    margin: 0 16px 0 0;
    flex-shrink: 0;
    line-height: 36px;
    font-weight: 600;
}

.productSpecifications {
    width: 100%;
    height: 100%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.ratingContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 36px;
}

.starCount {
    margin-right: 5px;
}

.arrow {
    transform: rotate(-45deg);
    margin-right: 5px;
}

.reviewCount {
    font-size: 14px;
    color: #4393ae;
}

.priceContainer {
    display: flex;
    align-items: baseline;
}

.productPrice {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    margin-right: 2px;
    padding: 0 15px 0 7px;
}

.currency, .priceDecimal {
    position: absolute;
    top: 5px;
    font-size: 12px;
    font-weight: 700;
}

.currency {
    left: 0
}

.priceDecimal {
    right: 0;
}

.productExclusionPrice {
    color: #767777;
    text-decoration: line-through;
    font-size: 14px;
}

.keywordsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px 0 8px;
    flex-wrap: wrap;
    gap: 10px;
}

.keyword {
    width: 100%;
    max-width: 105px;
    color: white;       
    font-weight: 600;
    font-size: 14px;
    padding: 7px 5px;
    border-radius: 25px;
    background: linear-gradient(0deg, rgba(255,149,1,1) 0%, rgba(251,224,49,1) 100%);
    line-height: 1;
}

.buttonWrapper {
    width: 100%;
    max-width: 350px;
    margin: 18px auto;
}

.productDescription {
    list-style-type: disc;
    padding: 0 8px 0 30px;
    text-align: left;
}

.descriptionText {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.descriptionText:not(:last-child) {
    margin-bottom: 16px;
}

@media(min-width: 500px) {
    .productTitle {
        max-width: 50%;
    }

    .keyword {
        max-width: 150px;
        font-size: 16px;
    }

    .reviewCount {
        margin-right: 5px;
    }

    .productSpecifications {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .descriptionTop {
        margin-bottom: 24px;
    }

    .buttonWrapper {
        margin: 24px auto;
    }

    .descriptionText {
        font-size: 16px;
    }
    
    .descriptionText:not(:last-child) {
        margin-bottom: 24px;
    }

    .sectionOne {
        margin-bottom: 32px;
    }
}

@media(min-width: 850px) {
    .productTitle {
        max-width: 60%;
    }
    .keyword {
        max-width: 250px;
        font-size: 18px;
        padding: 12px 8px;
    }
    .reviewCount {
        margin-right: 10px;
        font-size: 18px;
    }

    .productPrice {
        font-size: 32px;
        margin-right: 4px;
        padding: 0 15px 0 7px;
    }
    
    .currency, .priceDecimal {
        font-size: 14px;
    }

    .productExclusionPrice {
        font-size: 16px;
    }

    .starCount i {
        font-size: 28px;
    }

    .descriptionTop {
        margin-bottom: 32px;
    }

    .textContent {
        padding: 16px 0 24px 0;
    }

    .buttonWrapper {
        margin: 32px auto;
    }

    .descriptionText {
        font-size: 18px;
    }
    
    .descriptionText:not(:last-child) {
        margin-bottom: 32px;
    }

    .sectionOne {
        margin-bottom: 48px;
    }
}