.carouselItem {
    height: 85px;
    width: 85px;
    background: #F8F8F8;
    border-radius: 18px;
    padding: 15px;
}

.content {
    position: relative;
    height: 100%;
}

.content img {
    width: 100%;
    height: 100%;
}

.rank {
    position: absolute;
    top: -5px;
    left: -5px;
    height: 35px;
    width: 35px;
    color: white;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(255,149,1,1) 0%, rgba(251,224,49,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.one {
    height: 200px;
    width: 200px;
}

.two {
    height: 150px;
    width: 150px;
}

.three {
    height: 100px;
    width: 100px;
}

.three .rank {
    height: 27px;
    width: 27px;
}

@media(min-width: 500px) {
    .one {
        height: 300px;
        width: 300px;
    }
    
    .two {
        height: 200px;
        width: 200px;
    }
    
    .three {
        height: 150px;
        width: 150px;
    }

    .one .rank {
        height: 50px;
        width: 50px;
        font-size: 20px;
        border-radius: 6px;
    }

    .two .rank {
        height: 40px;
        width: 40px;
        font-size: 20px;
    }

    .three .rank {
        height: 35px;
        width: 35px;
    }

    .many.carouselItem {
        height: 100px;
        width: 100px;
    } 
}

@media(min-width: 650px) {
    .one {
        height: 400px;
        width: 400px;
    }
    
    .two {
        height: 300px;
        width: 300px;
    }
    
    .three {
        height: 200px;
        width: 200px;
    }

    .one .rank {
        height: 65px;
        width: 65px;
        font-size: 24px;
        border-radius: 8px;
    }

    .two .rank {
        height: 50px;
        width: 50px;
        font-size: 21px;
    }

    .three .rank {
        height: 40px;
        width: 40px;
        border-radius: 6px;
    }

    .many.carouselItem {
        height: 140px;
        width: 140px;
    }
}

@media(min-width: 950px) {
    .many.carouselItem {
        height: 200px;
        width: 200px;
    }
}