.footer {
    width: 100%;
    padding: 32px;
    background: linear-gradient(0deg, rgba(4,121,189,1) 0%, rgba(85,193,254,1) 100%);
}

.textTop, .textBottom {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.textTop {
    margin-bottom: 16px;
}

@media(min-width: 500px) {
    .textTop, .textBottom {
        font-size: 24px;
    }
}

@media(min-width: 850px) {
    .footer {
        padding: 48px;
    }
}